<a href="https://colab.research.google.com/github/mathewgit/NLP/blob/main/Regex_Tutorial_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import re

In [4]:
# Match 10 digit 412889912 only
chat1='codebasics: Hello, I am having an issue with my order # 412889912'
pattern = '\d{10}'
matches = re.findall(pattern, chat1)
matches

[]

In [6]:
# Match 10 digit (123)-567-8912 
chat1='codebasics: here it is: (123)-567-8912, abc@xyz.com'
pattern = '\(\d{3}\)-\d{3}-\d{4}'  # \ before the brackets are escape characters
matches = re.findall(pattern, chat1)
matches

['(123)-567-8912']

In [ ]:
chat1 = 'codebasics: you ask lot of questions ðŸ˜   1235678912, abc@xyz.com'
chat2 = 'codebasics: here it is: (123)-567-8912, abc@xyz.com'
chat3 = 'codebasics: yes, phone: 1235678912 email: abc@xyz.com'

In [8]:
# Match both the digits
chat1 = 'codebasics: you ask lot of questions ðŸ˜   1235678912, abc@xyz.com ,  here it is: (123)-567-8912, abc@xyz.com'
pattern = '\d{10}|\(\d{3}\)-\d{3}-\d{4}'  # \ before the brackets are escape characters
matches = re.findall(pattern, chat1)
matches

['1235678912', '(123)-567-8912']

In [10]:
# Email ID
chat2 = 'codebasics: here it is: (123)-567-8912, abc_123@xyz.com'
pattern = '[a-z0-9A-Z_]*@[a-z0-9A-Z_]*\.[a-zA-Z]*'  # \ before the brackets are escape characters
matches = re.findall(pattern, chat2)
matches

['abc_123@xyz.com']

In [13]:
# Get the order number

chat1='codebasics: Hello, I am having an issue with my order # 412889912'
chat2='codebasics: I have a problem with my order number 412889912'
chat3='codebasics: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'

pattern = 'order[^\d]*(\d*)'
matches = re.findall(pattern, chat3)
matches

['412889912']

In [17]:
# INFORMATION EXTRACTION
text='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971â€“present)
Canada (1971â€“present)
United States (2002â€“present)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson
â€‹
â€‹(m. 2000; div. 2008)â€‹
Talulah Riley
â€‹
â€‹(m. 2010; div. 2012)â€‹
â€‹
â€‹(m. 2013; div. 2016)
'''

In [18]:
# Regular Expression Function
def get_pattern_match(pattern,text):
  matches=re.findall(pattern,text)
  if matches:
    return matches[0]

In [21]:
# GET AGE
get_pattern_match(r'age (\d+)', text)  # + mean one or more character

'50'

In [20]:
# GET NAME 
get_pattern_match(r'Born(.*)\n', text).strip() #"." any character

'Elon Reeve Musk'

In [23]:
# BIRTHDAY
get_pattern_match('Born.*\n(.*)\(age', text).strip() #"." any character

'June 28, 1971'

In [25]:
# BIRTHDAY PLACE
get_pattern_match('age.*\n(.*)', text).strip() #"." any character

'Pretoria, Transvaal, South Africa'